<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 
  <div class="row">
    <div class="col-xs-2 pull-right">
	<h4>City</h4>
	<form ng-submit="submit();">
		<div class="form-group">
			<input type="text" class="form-control" ng-model="city">
		</div>
		<input type="submit" class="btn btn-primary" value="Forecast">
	</form>	
  </div> 
  </div>
  -->
  <div class="row"> 
      <div class="col-xs-6">
    	<div class='container'>
    		<div>   		
				<div class="panel panel-default">
					<div class="panel-heading">
					<!-- <div class="centerBlock">Provider</div>-->
						<div class="panel-title text-center">
							<h3>OAuth 2.0 overview</h3>
						</div>
					</div>
					<div>
					<div  class="panel-body text-center">
					<img src="/images/oauth2-logo.jpg" alt="OAuth overview"><br>
					</div>
					<div class="panel-body">
					<ul>
						<li>The OAuth authorization framework allows a third-party <b>Subscriber</b> application to obtain limited access 
					to the <b>Provider</b>'s HTTP service.</li>
					</ul>	
					</div>
					</div>
					<div class="panel-body text-center">
						<img src="/images/oauth_overview.png" alt="OAuth overview">
					</div>
				</div>			    	
	  		</div>
  		</div>
  	</div> 	  	
  </div>
</body>
</html>